@page "/"
@using SyncFluentValidation.Model;
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Data;
@using Syncfusion.Blazor.Buttons;
<h1>Hello, world!</h1>

Welcome to your new app.
<EditForm Model="EmployeeDetails" OnValidSubmit="SubmitValidForm">
    <FluentValidator TValidator="EmployeeValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="form-group col-md-6">
            <SfTextBox FloatLabelType="FloatLabelType.Auto" Placeholder="First Name" @bind-Value="EmployeeDetails.FirstName"></SfTextBox>
        </div>
        <div class="form-group col-md-6">
            <SfTextBox FloatLabelType="FloatLabelType.Auto" Placeholder="Last Name" @bind-Value="EmployeeDetails.LastName"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <SfTextBox FloatLabelType="FloatLabelType.Auto" Placeholder="Email Address" @bind-Value="EmployeeDetails.EmailAddress"></SfTextBox>
        </div>
        <div class="form-group col-md-6">
            <SfDatePicker TValue="DateTime?" FloatLabelType="FloatLabelType.Auto" Placeholder="Date of Birth" @bind-Value="EmployeeDetails.DateOfBirth"> </SfDatePicker>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <SfNumericTextBox TValue="decimal?" FloatLabelType="FloatLabelType.Auto" Placeholder="Total Experience" @bind-Value="EmployeeDetails.Experience"></SfNumericTextBox>
        </div>
        <div class="form-group col-md-6">
            <SfDropDownList TValue="string" Width="200px" TItem="string" FloatLabelType="FloatLabelType.Auto" Placeholder="Gender" @bind-Value="EmployeeDetails.Gender" DataSource="@MyList">
            </SfDropDownList>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <SfTextBox Multiline="true" FloatLabelType="FloatLabelType.Auto" Placeholder="Address Line" @bind-Value="EmployeeDetails.PermanentAddress.AddressLine1">
            </SfTextBox>
            <SfComboBox TValue="string" TItem="Countries" FloatLabelType="FloatLabelType.Auto" Placeholder="Select a Country" @bind-Value="EmployeeDetails.PermanentAddress.Country" DataSource="@countries">
                <ComboBoxFieldSettings Text="Name" Value="Code"></ComboBoxFieldSettings>
                <ComboBoxEvents TValue="string" TItem="Countries" ValueChange="ChangeCountry"></ComboBoxEvents>
            </SfComboBox>
            <SfDropDownList Enabled="@enableCityDropDown" TValue="string" TItem="Cities" FloatLabelType="FloatLabelType.Auto" Placeholder="Select a City" @bind-Value="EmployeeDetails.PermanentAddress.City" Query="@CityQuery" DataSource="@cities">
                <DropDownListFieldSettings Text="Name" Value="Code"></DropDownListFieldSettings>
            </SfDropDownList>
            <SfTextBox FloatLabelType="FloatLabelType.Auto" Placeholder="Postal Code" @bind-Value="EmployeeDetails.PermanentAddress.Postcode"></SfTextBox>
        </div>
    </div>
    <p>
        <SfButton>Submit</SfButton>
    </p>
</EditForm>

@code {
    Employee EmployeeDetails { get; set; } = new Employee();
    protected List<string> MyList = new List<string>() { "Male", "Female" };
    List<Countries> countries;
    List<Cities> cities;
    bool enableCityDropDown;

    public Query CityQuery { get; set; } = null;

    protected override void OnInitialized()
    {
        countries = new Countries().GetCountries();
        cities = new Cities().GetCities();
    }
    public void ChangeCountry(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, Countries> args)
    {
        this.enableCityDropDown = true;
        this.CityQuery = new Query().Where(new WhereFilter() { Field = "CountryCode", Operator = "equal", value = args.Value, IgnoreCase = false, IgnoreAccent = false });
        this.EmployeeDetails.PermanentAddress.City = null;
    }
    void SubmitValidForm()
    {
        Console.WriteLine("Form Submitted Successfully!");
    }
}